---
name: Linting

on:
  push:
    branches:
      - main
      - renovate/**
  pull_request:

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      # yamllint disable-line rule:line-length
      - uses: paddyroddy/.github/actions/linting@232a2f3869501abb249d50e311179f98830c6481 # v0
        with:
          pre-commit-config: ./.pre-commit-config.yaml
